.mumenu, .mumenu ul {
	z-index: 9;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.mumenu > li {
	float: left;
}
.mumenu ul {
	position: absolute;
	display: none;
	background-color: rgba(0,128,0,0.5);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

div.mumenupulldown {
	position: absolute;
	display: block;
	width: 0; 
	height: 0; 
	right: 5px;
	top: 50%;
	margin-top: -2px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid rgba(255,255,255,0.5);
}
div.mumenurightmenu {
	position: absolute;
	display: block;
	width: 0; 
	height: 0; 
	right: 5px;
	top: 50%;
	margin-top: -4px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid rgba(255,255,255,0.5);
}

.mumenu a, .mumenu a:link, .mumenu a:active, .mumenu a:visited {
	position: relative;
	display: block;
	padding: 11px 20px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	transition-property: background, color;
	transition-duration: .2s;
	transition-timing-function: linear;
}
.mumenu a:hover {
	background-color: #488900;
	color: white;
	text-decoration: underline;
}
.mumenu a.itemselected {
	background-color: #488900;
	color: white;
	text-decoration: none;
}
a.itemsactive {
	background-color: #488900;
	color: white;
	text-decoration: none;
}
